header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--background-tertiary-color);
  padding: 37px 48px;
  position: relative;
}

.logo-jornada-viagens-mobile-and-tablet {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.logo-jornada-viagens-desktop {
  display: none;
}

.img-menu {
  cursor: pointer;
}

.img-menu img {
  margin-top: 24px;
}

#menu-toggle {
  display: none;
}

.nav-menus {
  display: none;
}

/* Verifica se o input está marcado, caso esteja ele aplica o display block, isso é feito através do seletor irmão geral (~), que seleciona elementos irmãos que aparecem depois do elemento atual no DOM */
input[type="checkbox"]:checked ~ .nav-menus {
  display: block;
  padding: 0px 48px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-tertiary-color);
}

.lista-links-menu {
  list-style: none;
}

.lista-links-menu li a {
  color: var(--text-secondary-color);
  text-decoration: none;
  font-weight: var(--menu-text-weight);
  font-size: 24px;
}

.lista-links-menu li {
  margin: 16px 0;
}

/* Tablet */
@media screen and (min-width: 768px) {
    header {
        padding: 37px 60px;
    }

    .menu-navegacao {
        margin-top: 0;
        width: 467px;
    }

    .menu-navegacao label {
        display: none;
    }

    .nav-menus{
        display: block;
    }

    .lista-links-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        gap: 40px
    }

    .lista-links-menu li {
        margin: 17.5px 0;
    }
}

/* Desktop */
@media screen and (min-width: 1024px) {
    header {
        padding: 37px 120px;
    }

    .logo-jornada-viagens-mobile-and-tablet {
      display: none;
    }

    .logo-jornada-viagens-desktop {
      display: inline-block;
    }

    .lista-links-menu a:hover {
        text-decoration: underline;
        font-weight: var(--title-weight);
    }

    .lista-links-menu a:focus {
        color: var(--primary-color);
        font-weight: var(--title-weight);
    }
}