/* 

Responsividade de imagens 

Curiosidades:
Hero (ou hero section) é o nome dado à primeira seção de destaque de uma página, geralmente:

Ocupa a parte superior do site (acima da dobra)

Tem imagem grande, vídeo ou fundo chamativo

Apresenta a mensagem principal do site
,
Pode ter título, subtítulo e botão (CTA)

📌 É chamada de hero porque ela é a “protagonista” da página, a parte que chama atenção primeiro.


*/
.hero .hero-img {
  height: 400px;
  width: 100%;
  background: url("../img/banner-home-mobile.png") no-repeat;
  background-size: cover;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .hero .hero-img {
    background: url("../img/banner-home-tablet.png") no-repeat;
    height: 620px;
    background-size: cover;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .hero .hero-img {
    background: url("../img/banner-home-desktop.png") no-repeat center;
    height: 620px;
    background-size: cover;
  }
}