

.ofertas-da-semana {
  text-align: center;
  padding-bottom: 88px;
}

.packages-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.package-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 312px;
  height: 288px;
  padding: 24px 16px;
  box-sizing: border-box;// Essa propriedade faz com que o padding seja incluído na largura e altura totais do elemento
}

.package-card .package-card__header {
  display: flex;
  flex-direction: column;
}

.package-card--japan {
  background: url("../img/japao.png") no-repeat center;
  border-radius: 16px;
  background-size: cover;
}

.package-card--san-andreas {
  background: url("../img/san-andreas.png") no-repeat center;
  border-radius: 16px;
  background-size: cover;
}

.package-card--paraiba {
  background: url("../img/paraiba.png") no-repeat center;
  border-radius: 16px;
  background-size: cover;
}

.package-card--manaus {
  background: url("../img/manaus.png") no-repeat center;
  border-radius: 16px;
  background-size: cover;
}

.package-card .package-card__type {
  font-weight: var(--text-weight);
  font-size: 20px;
  line-height: 32px;
  color: var(--text-secondary-color);
  margin-botom: 8px;
}

.package-card .package-card__destination {
  font-weight: var(--title-weight);
  font-size: 40px;
  color: var(--text-secondary-color);
  margin-bottom: 24px;
}

.package-card .package-card__price {
  font-weight: var(--title-weight);
  font-size: 32px;
  color: var(--text-secondary-color);
  margin-bottom: 24px;
}

.package-card .package-card__footer .package-card__link {
  display: inline-block;
  width: 280px;
  height: 64px;
  background-color: var(--secondary-color);
  color: var(--text-secondary-color);
  border: none;
  border-radius: 8px;
  font-weight: var(--title-weight);
  font-size: 20px;
  line-height: 64px;
  text-decoration: none;
}